.title{
    margin: 0 auto;
    text-align: center;
}
.title__slide-wrapper{
    position: relative;
}
.title__slide-1,
.title__slide-2,
.title__slide-3{
    max-width: 1720px;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    color: white;
    position: relative;
}
.title__slide-1{
    background-image: url(../../img/title-1.jpg); 
}
.title__slide-2{
    background-image: url(https://b1.m24.ru/c/1114597.jpg); 
}
.title__slide-3{
    background-image: url(https://irkutsk.megafon.ru/download/~federal/~federal/images/mobid.jpg); 
}
.title__slide-container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
}
.place__type-wrapper{
    margin: 50px auto;
}
.place__type{
    margin-bottom: 40px;
}
.plase__type-card{
    max-width: 1720px;
    min-height: 310px;
    width: 700px;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.plase__type-img{
    max-width: 1720px;
    min-height: 310px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    border-radius: 4px
}
.plase__type-title{
    position: absolute;
    color: white;
    font-size: 28px;
    bottom: 26px;
    left: 22px;
}
.slider__wrapper-big{
    width: 93%;
    margin: 0 auto 50px;
}
.slider__wrapper-small{
    display: none;
    margin: 0 auto 50px
}
.place{
    border-radius: 3px;
    margin: 0 0 30px;
    width: 266px;
}
.place__wrapper{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 0 10px;
    padding-bottom: 2px;
}
.place__img{
    min-height: 185px;
    width: 100%;
    background-size: cover;
    background-position: center center;
}
.place__name{
    margin: 5px;
    font-size: 17px;
    color:#000;
}
.place__liked{
    margin: 5px;
    font-size: 16px;
}
.place__liked-small{
    display: none;
}
.place__liked-text{
    margin-right: 5px;
}
.popular__title a{
    color: black;
}

@media (max-width: 1200px){
    .place__img{
      min-height: 150px;
    }
  }
  @media (max-width: 992px){
    .pagination{
      width: inherit;
    }
  }
  @media (max-width: 820px){
    .place__name{
      font-size: 16px;
    }
    .place__liked{
        font-size: 15px;
    }
  }
@media (max-width: 760px){
    .place__liked-big{
        display: none;
    }
    .place__liked-small{
        display: block;
    }
}
@media (max-width: 720px){
    .place__name{
        font-size: 14px;
      }
      .place__img{
        min-height: 120px;
      }
}
@media (max-width: 720px){
    .slider__wrapper-big{
        display: none;
    }
    .slider__wrapper-small{
        display: block;
    }
}