.All{
    display: flex;
    justify-content: space-between;
}
.Navbar{
    max-width: 300px;
}
.collection{
    margin-left: 15px;
}
.Info{
    max-width: 857px;
}
/* .liked__nothing{
    min-height: 65vh;
} */
.liked__nothing-title{
    text-align: center;
}