.header{
    background-color: #2980b9;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img__logo{
    width: 100px;
}
.logo__title{
    color: white;
font-size: 19px;
font-weight: 600;
padding-left: 5px;
}
.counter{
   display: flex;
   color: #fff;
}
.liked a{
    text-decoration: none;
    color: #fff;
    padding-right: 10px;
}
.searching__form{
    display: flex;
}
.search{
    background: #fff;
    width: 250px;
    margin-left: 10px;
    position: relative;
    border-radius: 5px;
}
.search input{
    margin: 0;
    height: 2em;
}
.search ul{
    position: absolute;
    background: white;
    width: 100%;
    margin:0;
    border: none;
}
.search ul li{
    border-bottom: 1px solid #777;
}
a.active{
    color: red;
}